<a href="https://colab.research.google.com/github/Yogesh0801/Python-Program/blob/main/coding_python_programs.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# ### Q(1)  Add two numbers:-(1) with pre-defined variable

1.   List item
2.   List item

In [ ]:
a=20
b=30
c=a+b
print(c)

In [ ]:
num=10
num1=20
sum=num+num1
print("sum of give no:-",sum)

In [ ]:
a=10
b=40
print("sum of given no:-",a+b)

sum of given no:- 50

*italicized text*### (2) with user-input:-

In [ ]:
num1=float(input("enter first no:-"))
num2=float(input("enter second no:-"))
sum=num1+num2
print("sum of the no:-",sum)

enter first no:-12.5
enter second no:-34.9
sum of the no:- 47.4

## Q(2) python program to find the square root:-

1.   List item
2.   List item



```
# This is formatted as code
```

###(1) using Exponentiotion:-(**)

In [ ]:
num=64
sr=num**(1/2)
print("the squart root of the given no:-",sr)

the squart root of the given no:- 8.0

In [ ]:
num=int(input("enter the no:-"))
sr=num**(0.5)
print("squart no is:- ",sr)

enter the no:-45
squart no is:-  6.708203932499369



```
# This is formatted as code
```

###(2) using math module:-

In [ ]:
import math
num=int(input("enter the no:-"))
sr=math.sqrt(num)
print("the square root of :-",sr)

## Q(3) python program to calculate the area of a Triangle:-

In [ ]:
height=float(input("enter the height of traingle:-"))
Base=float(input("enter the base of traingle:-"))
area = (1/2)*height*Base
print("the area of triangle:-",area)

## Q(4) python program to solve Quadratic Equation:-

### Quadratic Equation formula:-ax**2 + bx + c = 0
### a, b and c are real numbers
### a! = 0

In [ ]:
import cmath
a=int(input("enter a value:-"))
b=int(input("enter b value:-"))
c=int(input("enter c value:-"))
d= (b**2) - (4*a*c)                      # d is formula of "discriminant"
root1=(-b-cmath.sqrt(d))/(2*a)
root2=(-b+cmath.sqrt(d))/(2*a)
print("this is root1:",root1)
print("this is root2:",root2)
print("the rooots are", root1, "and" , root2)

## Q(5) python program to Swap Two Variables:-

###(1) with using third variable:-

In [ ]:
x=13
y=12
temp=x
print("the value of temp variable is",temp)
x=y
print("the value of x is",x)
y=temp
print("the value of y is", y)

###(2) without using third variable:-

> Indented block

In [ ]:
x=13
y=12
x,y=y,x
print("the value of x is:-",x)
print("the value of y is:-",y)

#Q(6) Python program to Generate a Random Number:-

### (1) using random module:-

In [ ]:
import random
num=random.randint(0,10)
print(num)

##Q(7) python program to convert kilometers to Miles:-

### 1 Kilometer = 0.621371 Mile

In [ ]:
km=float(input("enter your value in kms:-"))
miles = (0.621371)*km
print(km,"kms will be",miles,"miles")

##(8) python program to convert celsius to fahrenheit:-

1.   List item
2.   List item

### 0' celsius = 32 fahrenheit
### (c*9/5)+32=F

In [ ]:
celsius=int(input("enter temperature in celsius:-"))
fahrenheit = (celsius*(9/5))+32
print("the converted value is", fahrenheit,"fahrenheit")

## Q(9) python program to check if a number is positive,Negative or 0(zero) :-

1.   List item
2.   List item

### using conditional statements:

In [ ]:
num=12
if num>0:
  print("it is positive number:-",num)
elif num ==0:
  print("it is Zero number:-",num)
else:
  print("it is Negative number:-",num)

## Q(10) python program to check if a Number is odd or Even:-

---

In [ ]:
num=int(input("enter the number:-"))
if num%2==0:
  print("This is a even number",num)
else:
  print("This is odd number",num)

##Q(11) python program to check Leap year:-

### Normal year: 365
### Leap year: 366 ===> once in 4 years

In [ ]:
year=int(input("enter the year:-"))
if (year % 400 ==0) and (year % 100 ==0):
  print(year, "is a leap year")
elif (year % 4 ==0) and (year % 100 != 0):
  print(year,"is a leap year")
else:
  print(year, ":is a normal year")

##Q(12) python program to find the largest Among Three Numbers:-

In [ ]:
num1=45
num2=20
num3=61
if (num1>num2) and (num1>num3):
  print(num1,"is largest number")
elif (num2>num1) and (num2>num3):
  print(num2,"is largest number")
else:
  print(num3,"is largest number")

## Q(13) python program to check prime number:-

In [ ]:
num=int(input("enter a number here: "))
if num == 1:
  print("it is not a prime number")
if num>1:
  for i in range(2,num):
    if num % i == 0:
      print("it is also not a prime number")
      break
  else:
       print("it is a prime number")

In [ ]:
num1=int(input("enter the number:"))
if num1 ==1:
  print("not prime")
if num1>1:
  for i in range(2,num1):
    if num1 % i== 0:
        print("not prime")
        break
  else:
         print("prime")

##Q(14) python program to print all prime number in an interval:-

---

In [ ]:
lower=int(input("enter a lower limit:-"))
upper=int(input("enter a upper limit:-"))
for num in range(lower,upper+1):
  if num>1:
    for i in range(2,num):
      if num%i==0:
        break
    else:
      print(num)

In [ ]:
l=int(input("enter lower no:-"))
u=int(input("enter upper no:-"))
for n in range(l,u+1):
  if n>1:
    for i in range(2,num):
      if n%i==0:
        break
    else:
      print(n)

##Q(15) python program to find the factorial of a number:-

> Indented block

> Indented block

###(1) using for loop:-

In [ ]:
num=int(input("enter the no:-"))
fact=1
if num<0:
  print("The factorial does not exist")
if num==0:
  print("The factorial of 0 is",1)
if num>0:
  for i in range(1,num+1):
    fact=fact*i
print("The factorial of the given no is:-",fact)

In [ ]:
n=int(input("enter the no:-"))
f=1
if n<0:
  print("factorial does not exixt")
if n==0:
  print("factorial o is",1)
if n>0:
  for j in range(1,n+1):
    f=f*j
print("the factorial is :-",f)

###(2) using Recursion:-function ke ander fanction ko call krana recursion hota 

*   List item
*   List item

h

In [ ]:
def fact(a):
  if a==0:
    return 1
  else:
    return ((a)*fact(a-1))
num =int(input("enter a number here:"))
result=fact(num)
print("the factorial is given no is:",result)

In [ ]:
def fact(x):
  if x==0:
    return 1
  else:
    return ((x)*fact(x-1))
n=int(input("enter a number here:-"))
r=fact(n)
print("the factorial no is:",r)

##Q(16) python program to display the multiplication Table:-

> Indented block

###(1) with for loop:-

In [ ]:
n=int(input("enter a number here:-"))
for i in range(1,11):
  print (n,"*",i ,"=",n*i)

In [ ]:
n=7
for i in range(1,15):
  print(n,"x",i,"=",n*i)



```
# This is formatted as code
```

###(2) with while loop:-

In [ ]:
n=17
i=0
while i<=10:
  print(n,"X",i,"=",n*i)
  i+=1                        # (i=i+1)

In [ ]:
n=int(input("enter the no:-"))
i=2
while i<=11:
  print(n,"*",i,"=",n*i)
  i=i+1

##Q(17) python program to print the Fibonacci sequence:-

> Indented block

In [ ]:
a=0
b=1
num=int(input("enter a no:-"))
if num==1:
  print(a)
else:
  print(a)
  print(b)
  for i in range(1,num+1):
    c=a+b
    a=b
    b=c
    print(c)

In [ ]:
x=0
y=1
n=7
for i in range(1,n+1):
  z=x+y
  x=y
  y=z
  print(z,end=" ")

##Q(18) python program to check Armstrong Number:-

> Indented block

In [ ]:
num=int(input("enter a number here:-"))
sum=0
temp=num
while temp>0:
  digit=temp%10
  cube=digit ** 3
  sum=sum+cube
  temp//=10
if sum==num:
  print("it is an armstrong number")
else:
  print("it is not an armstrong number")

In [ ]:
num=int(input("enter a number here: "))
order = len(str(num))
sum=0
temp=num
while temp>0:
  digit=temp%10
  sum+=digit**order
  temp//=10
if sum==num:
  print("Armstrong No")
else:
  print("Not Armstrong No")

##Q(19) Python program to find Armstrong Number in an Interval:-

> Indented block

In [ ]:
lower=int(input("enter a lower number:-"))
upper=int(input("enter a upper number:-"))

for num in range(lower,upper+1):
  order=len(str(num))
  sum=0
  temp=num
  while temp>0:
    digit=temp%10
    sum+=digit**order
    temp//=10
  if sum== num:
    print(num)

In [ ]:
l=int(input("enter a lower no:-"))
u=int(input("enter a upper no:-"))

for num in range(l,u+1):
  order=len(str(num))
  sum=0
  temp=num
  while temp>0:
    digit=temp%10
    sum+= digit**order
    temp//=10
  if sum==num:
    print("Armstrong no:",num)

##Q(20) python program to find the sum of Natural Numbers:- positive integers 

*   List item
*   List item

is natural no (0 to infinite)

In [ ]:
num=int(input("enter a number here:- "))

if num<0:                                        # (6= 6+5+4+3+2+1===>>21)
  print("please enter a positive no")
else:
  sum=0
  while num>0:
    sum+=num
    num-=1
  print("sum of natural no",sum)

##Q(21) python program to Display power of 2 using Anonymous Function/lambda function (for using tempary function):-
###(a) map==(har function ke uper itraible ko lga ke dega),(b) list==(list format me likhne ke liye)

### using list,tuple,map,lambda function and range:-

In [ ]:
nterms= int(input("enter a number of terms here:-"))

result=list(map(lambda x: 2 ** x,range(nterms+1)))
print(result)

In [ ]:
n=int(input("enter a no:="))
r=list(map(lambda x: 3** x, range(n+1)))
print(r)

In [ ]:
n=10
r=tuple(map(lambda x: 5 ** x,range(n+1)))
print(r)

### using for loop:-

In [ ]:
nterms=int(input("enter a number of terms:-"))
for i in range(nterms+1):
  print("the value of 2 raised to power",i,"is=>>",result[i])

##Q(22) python program to find Number Divisible by Another Number:-(

*   List item
*   List item

###(1) for loop & conditional statement:-

In [ ]:
print=("The numbers divisible ny 13 are:")
for x in range(1,100):
   if x%13 == 0:
      print(x)

### using lambda function(annonymes/tempary function) and filter()=(esse jo jo bhi condition satisfy ho re h use filter karke output la dega:-

---

In [ ]:
l=[39,48,26,98,33,97,87,47]
result=list(filter(lambda x:  x % 13 == 0 ,l))
print("The numbers divisible by 13 are",result)

###Q(23) python program to convert Decimal to Binary Octal and Hexadecimal:-

In [ ]:
decimal =int(input("enter a number here:-"))
print("The convertion of decimal number",decimal,"is:")
print(bin(decimal),"in binary")
print(oct (decimal),"in octal")
print(hex(decimal),"in hexadecimal")

In [ ]:
num=int(input("enter a number here:- "))
if num==13:
  print("Foo")
elif num==35:
  print("Bar")
elif (num==13 and num==35):
  print("Foor Bar")
else:
  print("")

enter a number here:- 13
Foo