In [1]:
print("hellow Unireach Internship")

hellow Unireach Internship

# Shift+Enter

In [3]:
print("hellow Unireach Internship")

hellow Unireach Internship

# Control+enter

# welcome to Unireach Technologies

# Types of Comment

# Two Types of Comment
1) single line comment -----------------> (#)
2) Multi line comment  -----------------> ("""...................""")

In [8]:
#print("hello Unireach")

In [9]:
"""pri("hello Unireach")
print("hello Unireach")
pri("hello Unireach")
pri("hello Unireach")"""

'pri("hello Unireach")\nprint("hello Unireach")\npri("hello Unireach")\npri("hello Unireach")'

# Basic function

In [11]:
a=10
print(a)
print(type(a))

10
<class 'int'>

In [12]:
b="python"
c = 10.78

In [13]:
print(type(b))
print(type(c))

<class 'str'>
<class 'float'>

#  for User input

In [ ]:
a=input("Enter your value:  ")
print(a)

# Keywords in python

In [ ]:
help("keywords")

In [ ]:
a1=7
print(a1)

# Data Types

## 1 Numeric
### Integer, Complex, Float
## 2 Sequence
### List, String,Tuple
## 3 Set
## 4 Bolean
## 5 Dictionary

# numeric Datatype

In [ ]:
# int Datatype
g=50
print(g)
print(type(g))

In [ ]:
# Float Datatype
b=50.7
print(b)
print(type(b))

In [ ]:
# Complex Data Types
c=6+8j
print(c)
print(type(c))

In [ ]:
# Boolean Data types
b= True
print(b)
print(type(b))

In [ ]:
# set Data Types
f={'a','5.7',8,'7.9'}
print(f)
print(type(f))

In [ ]:
# Dictionary Data types
x={}
print(type(x))

In [ ]:
x={"key":"value"}
print(x)

In [ ]:
x={"name":"girish"}
print(x)

# Sequence Data type

In [ ]:
# String Data Types
y="Python Program"
print(y)
print(type(y))

In [ ]:
# List Data Types
l=[1,2,3,4,5,6]
print(l)
print(type(l))

In [ ]:
# Tuple Data types
t=('1',2,3,4,5)
print(type(t))
print(t)

# Operators

### Operators are used to perform Operatinal variable and values in python

## Types of Operator
* Arithmatic Operator
* Assignment
* Comparison
* Logical
* Identity
* Membership

## Arithematic Operator

In [ ]:
# Addition Operator
x=47
y=72
c=x+y
print(x+y)
print(c)

In [ ]:
# Subtraction Operator
a=76
b=64
c=a-b
print(a-b)
print("Subtracting the value: ",c)

In [ ]:
# Multiplication Operator
d=40
n=70
g=d*n
print(d*n)
print(g)

In [ ]:
# Division 
a=999
b=77
c=a/b
print(c)

In [ ]:
# Double Division
a=999
b=77
c=a//b
print(c)

In [ ]:
# Modulo Division %
a=41
b=5
c=a%b
print(c)

In [ ]:
# Exponent Operator **
a=5
b=3
print(a**b)

# Comparison Operator

In [ ]:
# Greater Then
a=21
b=10
print(a>b)

In [ ]:
# Less then
print(a<b)

In [ ]:
# Equality Check ==
a=21
b=10
if (a == b):
    print("a is Equal to b")
else:
    print("a is not Equal to b")

In [ ]:
# Taking Value by user input
a=int(input("Enter First Value: "))
b=int(input("Enter Second Value: "))
if (a == b):
    print("a is Equal to b")
else:
    print("a is not Equal to b")

In [ ]:
# Take the value from user and check the is less than or not
a=int(input("Enter First Value: "))
b=int(input("Enter Second Value: "))
if (a < b):
    print("a is Less Than b")
else:
    print("a is not Less Than b")

In [ ]:
# Take the value from user and check the value is Greater than or not
a=int(input("Enter First Value: "))
b=int(input("Enter Second Value: "))
if (a > b):
    print("a is greater then b")
else:
    print("a is not greater then b")

In [ ]:
# => Greater Then Equal
a=int(input("Enter First Value: "))
b=int(input("Enter Second Value: "))
if (a >= b):
    print("a is greater then or Equal to b")
else:
    print("a is neither less than nor equal to b")

In [ ]:
# =<

In [ ]:
# != not equal operator
a=int(input("Enter First Value: "))
b=int(input("Enter Second Value: "))
if (a != b):
    print("a is not equal to b")
else:
    print("a is equal to b")

# Assignment Operator

In [ ]:
#                    =, +=, *=, /=, **=, //=, %=
a=40
b=60
c=a+b
print("value of c is ",c)

c += a
print("value of c is ",c)

c *= a
print("value of c is ",c)

c /= a
print("value of c is ",c)

In [ ]:
c=2
a=4
print("value of c is ",c)

c**=a
print("value of c is ",c)
c //=a
print("value of c is ",c)

c %= a
print("value of c is ",c)

# Logical Operator
* AND
* OR
* NOT

In [10]:
# And Operator
a=34
b=45
if (a and b):
    print("Both 'a' and 'b' !=0")
else:
    print("Either a or b or both are =0")

Both 'a' and 'b' !=0

In [ ]:
# Or
a=int(input("Enter the fist number :"))
b=int(input("Enter the Second number :"))
if (a or b):
    print("At least on of a or b is not equal to 0")
else:
    print("both a and b is equal to 0")

In [ ]:
# not operator
a=int(input("Enter the fist number :"))
b=int(input("Enter the Second number :"))
if not(a>b):
    print ("a is leass than or equal to b")
else:
    print("a is greater than b")

# Membership Operator
* in
* not in

In [ ]:
# in
list1 = [30,20,5,6,38,62,95,74]
a=6
if (a in list1):
    print("a is available in the given list")
else:
    print ("a is not available in the given list")

In [ ]:
# take value from user and check the value is available in your list or not
list1 = [30,20,5,6,38,62,95,74]
a=int(input("give the number :"))
if (a in list1):
    print("number is available in the given list")
else:
    print ("number is not available in the given list")

In [ ]:
# not operator
list1 = [30,20,5,6,38,62,95,74]
b=int(input("give the number :"))
if (b not in list1):
    print("number is available in the given list")
else:
    print ("number is not available in the given list")

In [ ]:
x=['Apple','banana','mango','grapps','pineapple']
print('banana' in x)
print('banana' not in x)

# conditional Statement
* if
* else
* elif

In [ ]:
# simple if
v=11
if (v==10):
    print("value of variable is 10")
print('bye')

In [ ]:
a=30
if(a>=30):
    print("value of variable is 25")
print("bye")

In [ ]:
# if -else
a=int(input("enter the value for a :"))
b=int(input('enter the value for b :'))
if a<b:
    print("B is greater than a")
else:
    print("A is greater than b")

In [ ]:
# In your college students are getting marks greater than 70 then you have to give the grade A
# if student are getting marks greater than 65 or equal to 70 then grade B
# if students are getting marks 60 to 65 they will get C grade
# 55 to 65 then they will get D grade
# or below that fail

In [ ]:
# elif
p=int(input("Student give your marks here :"))

if p>70:
    print("A grade or Distantion")
elif p>=65 and p<=70:
    print('Grade B')
elif p>=60 and p<65:
    print("C grade")
elif p>=55 and p<60:
    print("D Grade")
else:
    print("Fail")

In [ ]:
# for blood donation campaign is going on so they are finding person who is greater than age 18
# and weight is greater than 50
# if both age and weight is greater than then they will donate the blood other wise they will not 
# able to give the blood they have to say under the weight

age= int(input("enter your age:"))
weg= int(input("enter your weight:"))
if age>=18:
  if weg>=50:
    print("blood donate")
  else:
    print("under weight")
else:
  print("under age")

# Indexing

In [ ]:
# String
str = 'Internship started in Unireach Technology helding by Yogesh'

# triple quotes strings can extend multiple lines
str2 = """Hello, 
Welcome to the python classes """

In [ ]:
str2

In [ ]:
# indexing
str[9]
str[10]

In [ ]:
len(str)

In [ ]:
len(str2)

In [ ]:
str[15]

# slicing

In [ ]:
str = 'Internship started in Unireach Technology helding by Yogesh'


str2 = """Hello, 
Welcome to the python classes """

In [ ]:
print(str[2:8])
print(str[0])
print(str[31:42])
print(str[31:])
print(len(str))
print(str[58])
print(str[-1])
print(str[-3:-1])
print(str[-59:])
print(str*2)
print(str + " in python")

In [ ]:
# Concetination
str = 'Internship started in Unireach Technology helding by Yogesh'


str2 = """Hello, 
Welcome to the python classes """
print(str+str2)

In [ ]:
# List is Mutable
list1 = ['abcd',1234,24.6,'pdr',88,90.8]
list2 = ['hnd',893,97.6,'7348']
print(list1)
print(list1[0])
print(list1[1])
print(list1[-1])
print(list1[-5:])
print(list1[1:])
print(list2 * 3)
print(list1 + list2)
list1[3]=56
print(list1)
list2[3]='abcd'
list2[-2]=56
print(list2)

In [ ]:
# Tuple
tuple1 = ('abcd',6747,89.08,'tys',66,44,9)
tuple2= (78,'yhnf')
print(tuple1)
print(type(tuple1))
print(tuple1[3])
print(tuple1[-1])
print(tuple1[0])
print(tuple1[:4])
print(tuple1[2:6])
print(tuple1 * 2)
print(tuple1 + tuple2)

In [ ]:
tuple1 = ('abcd',6747,89.08,'tys',66,44,9)
tuple2= (78,'yhnf')
tuple1[3]=66
print(tuple1)
# not changing the value why because tuple is immutable

In [ ]:
# Dictionary is Mutable
dict1 = {'name':'joy','rollno':1,'study':8}
print(dict1)
dict2={}
dict2['name']='Alpha'
dict2['roll_no']=2
dict2['study']=9
print(dict2)
print(dict1['name'])
print(dict1['study'])
print(dict1.keys())
print(dict2.keys())
print(dict1.values())
print(dict2.values())
dict2['name']='Gamma'
print(dict2)

In [ ]:
# Create one String/ one List / One Tuple / One Dictionary of values at least 20 in all of these use indexing and slicing