In [1]:
pwd

'D:\\presentation for teach\\R Techno\\Colab Notebooks\\python'

In [1]:
my_set = {55,45,67,77,1,5,7,0,3,4, 3, 3 ,3 }
my_set

{0, 1, 3, 4, 5, 7, 45, 55, 67, 77}

In [2]:
%%time
# set of integers
my_set = {55,45,67,77,1,5,7,0,3,4, 3, 3 ,3 }
my_set

# set of mixed datatypes
my_set = {1.0, "Hello", (1, 2, 3)}
print(my_set)

{'Hello', 1.0, (1, 2, 3)}
Wall time: 0 ns

In [1]:
my_set = {'a', 'r', 'e', 'i', 'i'}
my_set

{'a', 'e', 'i', 'r'}

In [5]:
my_set

{'a', 'e', 'i', 'r'}

In [6]:
# initialize my_set
my_set = {1,3}
print(my_set)

# if you uncomment line 9,
# you will get an error
# TypeError: 'set' object does not support indexing

#my_set[0]

# add an element
# Output: {1, 2, 3}
my_set.add(2)
print(my_set)

# add multiple elements
# Output: {1, 2, 3, 4}
my_set.update([2,3,4])
print(my_set)

# add list and set
# Output: {1, 2, 3, 4, 5, 6, 8}
my_set.update([4,5], {1,6,8})
print(my_set)

{1, 3}
{1, 2, 3}
{1, 2, 3, 4}
{1, 2, 3, 4, 5, 6, 8}

In [ ]:
'''
Set methods 

add()	Adds an element to the set
update()	Update the set with the union of this set and others
clear()	Removes all the elements from the set
remove()	Removes the specified element
discard()	Remove the specified item
pop()	Removes an element from the set
difference()	Returns a set containing the difference between two or more sets
copy()	Returns a copy of the set
union()	Return a set containing the union of sets
intersection()	Returns a set, that is the intersection of two other sets
symmetric_difference()	Returns a set with the symmetric differences of two sets
'''

In [ ]:
# remove elements from a set
# A particular item can be removed from set using methods, 
# discard() and remove().

# The only difference between the two is that, while using discard() 
# if the item does not exist in the set, it remains unchanged. 
# But remove() will raise an error in such condition.

In [6]:
# initialize my_set
my_set = {1, 3, 4, 5, 6}
print(my_set)

# discard an element
my_set.discard(7)
print(my_set)

# remove an element
my_set.remove(7)
print(my_set)

# discard an element
# not present in my_set
my_set.discard(2)
print(my_set)

# remove an element
# not present in my_set
# Output: KeyError: 2

#my_set.remove(2)

{1, 3, 4, 5, 6}
{1, 3, 5, 6}
{1, 3, 5}
{1, 3, 5}

In [3]:
# pop() and clear()
# initialize my_set
# Output: set of unique elements
my_set = set("HelloWorld")
print(my_set)

# pop an element
print(my_set.pop())

# pop another element
my_set.pop()
print(my_set)

# clear my_set
my_set.clear()
print(my_set)

{'H', 'l', 'W', 'o', 'd', 'r', 'e'}
H
{'W', 'o', 'd', 'r', 'e'}
set()

In [7]:
# Python Set Operations
# UNION
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A | B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [6]:
A.union(B)

{1, 2, 3, 4, 5, 6, 7, 8}

In [7]:
B.union(A)

{1, 2, 3, 4, 5, 6, 7, 8}

In [8]:
# INTERSECTION
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use & operator
# Output: {4, 5}
print(A & B)

{4, 5}

In [9]:
A.intersection(B)

{4, 5}

In [10]:
B.intersection(A)

{4, 5}

In [11]:
# Set Difference
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

# use - operator on A
# Output: {1, 2, 3}
print(A - B)

{1, 2, 3}

In [12]:
A.difference(B)

{1, 2, 3}

In [13]:
B.difference(A)

{6, 7, 8}

In [14]:
# Set Symmetric Difference
# Symmetric Difference of A and B is a set of elements in both A and B 
# except those that are common in both.
# initialize A and B
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}

print(A ^ B)

{1, 2, 3, 6, 7, 8}

In [16]:
# Iterating Through a Set
for letter in set("apple"):
     print(letter, end=' ')

l e p a

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
A.difference_update(B)
print(A)
print(B)

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
A.symmetric_difference_update(B)
print(A)

In [ ]:
A = {1, 2, 3, 4, 5}
B = {4, 5, 6, 7, 8}
A.intersection_update(B)
print(A)

In [1]:
A = {1, 2, 3, 4, 5}
B = {4, 5}
C = {10,11}
print(A.isdisjoint(B))

False

In [2]:
A = {1, 2, 3, 4, 5}
B = {4, 5}

print(B.issubset(A))

True

In [3]:
A = {1, 2, 3, 4, 5}
B = {4, 5}

print(B.issuperset(A))

False

In [2]:
a = frozenset([1,2,3,4,5,6])
print(a)

frozenset({1, 2, 3, 4, 5, 6})